.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.idea/
docs/_build/
.vscode
venv/
tests/__pycache__/
.pytest_cache
htmlcov
.coverage
__pycache__/

